<div class="container">
  <div class="row">

    <div class="col s12 m4" id="robbie">
      <h4 class="title">Robbie Lane</h4>
      <h6 class="subtitle">Developer / Photographer</h6>
      <%= image_tag('robbie-1_lowrez.jpg', class: 'avatar') %>
      <div class="row social-icons">
        <div class="col s3"><%= link_to svg_tag('github.svg', class: 'icon'), 'http://github.com/robbielane' %></div>
        <div class="col s3"><%= link_to svg_tag('twitter.svg', class: 'icon twitter'), 'http://twitter.com/lanerobbie1' %></div>
        <div class="col s3"><%= link_to svg_tag('facebook.svg', class: 'icon'), 'http://facebook.com/robbielanephotography' %></div>
        <div class="col s3"><%= link_to svg_tag('500px.svg', class: 'icon'), 'http://500px.com/robbielane' %></div>
      </div>
      <div class=" row links">
        <%= link_to "Visit Robbie Lane Photography", 'http://robbielane.net' %>
      </div>
    </div>

    <div class="col s12 m8" id="recent-activity">
      <div class="head">
        <%= link_to "View all posts", posts_path, class: 'right' %>
        <h4 class="header-font">Recent Activity</h4>
      </div>
      <div class="posts">
        <%= render partial: 'recent', locals: {posts: @recent} %>
      </div>
      <div class="head">
        <h4 class="header-font">Recent Photos</h4>
      </div>
      <div class="photos"></div>
    </div>

  </div>
</div>
