<div class="container">
  <div class="row">
    <div class="col s6">
      <h3>Posts</h3>
    </div>
    <div class="col s6">
      <%= link_to "New Post", new_post_path, class: 'btn waves-effect red right vcenter' %>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr class="<%= post.status %>">
          <td> <%= post.title %> </td>
          <td> <%= format_date post.created_at %> </td>
          <td> <%= link_to post.status, change_status(post), method: :patch %> </td>
          <td> <%= link_to 'Edit', edit_post_path(slug: post.slug) %> </td>
          <td> <%= link_to 'Delete', post_path(slug: post.slug), method: :delete %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
