<div class="container">
  <%= form_for @post, url: post_path(slug: @post.slug) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
</div>
    <div class="row">
      <div class="col m6">
        <h4>Markdown</h4>
        <%= f.text_area :body, id: 'editor' %>
      </div>
      <div class="col m6">
        <h4>Preview</h4>
        <div id="preview"></div>
      </div>
    </div>

    <%= f.button "+", class: 'btn-floating top right btn-large waves-effect waves-light red' %>
  <% end %>
